@charset "UTF-8";
h1{
	text-align:center;
}
div{
	width:100%;
}
table{
	margin:0 auto;
}
input[type="submit"]{
	width:100%;
}
a{
	display:inline-block;
	text-decoration:none;
	color:#333;
	background-color:#bde0fe;
	width:100%;
	text-align:center;
	margin:8px 0;
	padding:4px 0;
	border:1px solid #bde0fe;
	transition:all 0.3s;
}
a:hover{
	border:1px solid #bde0fe;
	color:#333;
	background-color:#fff;
}